<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="/static/main.js"></script>
    <title>ZIP Sorter</title>
</head>
<body>
    <form class="container" enctype="multipart/form-data" id="zip-uploader">
    <form class="container" id="zip-uploader">
        <h1 class="text-center">ZIP Sorter</h1>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">ZIP File</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="file">
              <label class="custom-file-label">Choose file</label>
            </div>
        </div>
        <div class="form-group">
            <label>Tolerance</label>
            <input class="form-control" type="number" name="tolerance" value="0.63">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Model</label>
            </div>
            <select class="custom-select" name="model">
              <option value="v1">Version 1</option>
              <option value="v2">Version 2</option>
              <option value="v3">Version 3</option>
              <option value="v4">Version 4</option>
            </select>
          </div>
        <input class="btn  btn-dark" type="submit" />
    </form>

    <div class="container mt-5 d-flex flex-row-reverse" id="button-group">
    </div>

    <div class="container mt-5" id="filter-buttons">
    </div>

    <div class="container mt-5 grid" id="filter-images">
    </div>
</body>
</html>

<style>
    .show {
        display: block !important;
        opacity: 1 !important;
    }
    #filter-images {
        opacity: 0;
    }
    .filterImg {
        display: none;
    }
    .grid-item {
        width: 180px; 
    }
</style>